#You need to add file ../founmdation/terraform.tfvars
#with you data
vsphere_server      = "vcenter.example.local"
vsphere_user        = "administrator@vsphere.local"
vsphere_password    = "CHANGE_ME"

datacenter          = "Datacenter"
esxi_host           = "Esxi_Host_Name"
resource_pool_name  = "RP-Kubernetes"